// Color Variables
$primary-text-color: #777; 
$primary-heading: #58e1c1; 

// Misc Color Variables
$links: #51ddfc;
$borders: #58e1c1;

// Grid Background Color Variables
$col-3: #deb2ee; 
$col-4: #7ee6fd; 

// Media query breakpoints
$brk-medium: '(min-width: 768px)';